/* 设置图标字体 */

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}

/*设置版心 宽1226 水平居中*/

.w {
    width: 1226px;
    margin: 0 auto;
}

/* 设置浮动类 */

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 设置鼠标经过盒子阴影 */

[class*="shadow"] {
    transition: all .3s;
}

.shadow_light:hover {
    box-shadow: 2px 2px 10px 0px black;
}

.shadow_middle:hover {
    box-shadow: 2px 2px 10px 0px black;
}

.shadow_heavey:hover {
    box-shadow: 2px 2px 10px 0px black;
}

/* topbar start */

.topbar {
    height: 40px;
    background-color: #333;
    line-height: 40px;
    font-size: 12px;
}

.topbar_left {
    float: left;
}

.topbar_left a {
    display: block;
    float: left;
    color: #B0B0B0;
}

.topbar_left a:hover {
    color: #fff;
}

.topbar_left a.sep {
    color: #393F3F;
    margin: 0 7px;
}

.topbar_right {
    float: right;
    height: 40px;
    line-height: 40px;
}

.topbar_right a {
    float: left;
    color: #B0B0B0;
}

.topbar_right a.sep {
    color: #393F3F;
    margin: 0 8px;
}

.topbar_right .message {
    margin-right: 26px;
}

.topbar_right .shopcar {
    width: 120px;
    text-align: center;
    background-color: #424242;
}

.topbar_right .shopcar i {
    font-family: "iconfont";
    font-size: 20px;
    vertical-align: top;
    margin-right: 5px;
}

.topbar_right .shopcar:hover {
    background-color: #fff;
}

.topbar_right .shopcar:hover {
    color: orange;
}

/* topbar end */

/* header start */

.header {
    height: 55px;
    margin-top: 22px;
}

.header_logo {
    display: block;
    width: 55px;
    height: 55px;
    background: #FF5B00 url(../images/header/logo.png) no-repeat center center;
    margin-right: 189px;
}

.header_nav {
    height: 55px;
}

.header_nav a {
    float: left;
    color: #333333;
    margin-right: 20px;
    font-size: 16px;
    line-height: 55px;
}

.header_search {
    width: 295px;
    height: 50px;
    margin-top: 3px;
}

.header_search div {
    position: relative;
    float: left;
    width: 243px;
    height: 48px;
    border: 1px solid #D6D6D6;
}

.header_search div input {
    width: 200px;
    height: 30px;
    margin: 7px 15px;
    border: none;
}

.header_search .hotwords {
    background-color: #EEEEEE;
    color: #757575;
    height: 18px;
    padding: 3px;
}

.header_search .hotwords:hover {
    cursor: pointer;
    background-color: rgb(255, 91, 0);
    color: #fff;
}

.header_search .word1 {
    position: absolute;
    right: 60px;
    top: 12px;
}

.header_search .word2 {
    position: absolute;
    right: 10px;
    top: 12px;
}

.header_search button {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    border-left: none;
    font-family: "iconfont";
    font-size: 20px;
    font-weight: 700;
    color: #616388;
}

.header_search button:hover {
    background-color: rgb(255, 91, 0);
    color: #fff;
}

/* header end */

/* footer start */

.footer {
    height: 270px;
    margin-top: 26px;
    background-color: #fff;
}

.footer .service {
    height: 79px;
    border-bottom: 1px solid #E0E0E0;
}

.footer .service li {
    float: left;
    margin-top: 27px;
}

.footer .service li a {
    display: block;
    width: 243px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.footer .service li a em {
    font-family: "iconfont";
    font-size: 24px;
    margin-right: 4px;
    color: #616161;
    vertical-align: middle;
}

.footer .service .vertical_line {
    width: 1px;
    height: 25px;
    background-color: #E0E0E0;
}

.footer .links {
    padding-top: 40px;
}

.footer .links .links_left {
    border-right: 1px solid #E0E0E0;
}

.footer .links dl {
    float: left;
    width: 159px;
    height: 128px;
    /* background-color: pink; */
}

.footer .links dt {
    height: 44px;
    font-size: 14px;
    color: #424242;
}

.footer .links dd {
    height: 28px;
    font-size: 12px;
    color: #757575;
}

.footer .links_right {
    position: relative;
    width: 251px;
    height: 128px;
    text-align: center;
}

.footer .links_right .tel {
    font-size: 22px;
    color: #FF5B00;
}

.footer .links_right .customer {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -59px;
    width: 118px;
    height: 28px;
    border: 1px solid #FF5B00;
    color: #FF5B00;
    line-height: 28px;
    text-align: center;
    transition: all .3s;
}

.footer .links_right .customer:hover {
    background-color: #FF5B00;
    color: #fff;
}

.footer .links_right .customer em {
    font-family: "iconfont";
}

/* footer end */

/* info start */

.info {
    padding: 30px 0;
    background-color: #FAFAFA;
}

.info_left {
    background-color: #FF5B00;
}

.info_right {
    padding-left: 10px;
}

.info_right img {
    width: 85px;
    height: 28px;
}

.slogan {
    font-family: "楷体";
    font-size: 22px;
    text-align: center;
    color: #ccc;
}

/* info end */